In [1]:
from utz import *
import geopandas as gpd
from nj_crashes.paths import COUNTY_CITY_CODES_PQT
from njdot.crashes import name_renames
import njdot
import njsp
from njdot.paths import CC2MC2MN
from njdot import YEARS, Data
from njdot.load import pk_astype, pk_renames

## Load DOT county/muni codes

In [2]:
data = Data(types=['Accidents'], columns=['County Code', 'County Name', 'Municipality Code', 'Municipality Name'])
c = data.df(index=False)
c = c.value_counts(c.columns.tolist()).sort_index().rename('num').reset_index()
c = c.rename(columns={
    k: v for k, v in {
        'Year': 'year',
        **pk_renames,
        **name_renames,
    }.items()
    if k in c
}).astype(pk_astype)
c['cn'] = c['cn'].str.title()
c['mn'] = c['mn'].str.title()
c = c[['year'] + [k for k in c if k != 'year']]
c

       year  cc        cn  mc            mn  num
0      2001   1  Atlantic   1  Absecon City  312
1      2002   1  Atlantic   1  Absecon City  367
2      2003   1  Atlantic   1  Absecon City  371
3      2004   1  Atlantic   1  Absecon City  322
4      2005   1  Atlantic   1  Absecon City  352
...     ...  ..       ...  ..           ...  ...
12299  2018  21    Warren  23     White Twp  156
12300  2019  21    Warren  23     White Twp  141
12301  2020  21    Warren  23     White Twp  121
12302  2021  21    Warren  23     White Twp  105
12303  2022  21    Warren  23     White Twp  128

[12304 rows x 6 columns]

Helper that returns:
1. unique sets of values found in `cols`
2. rows from 1. that match all columns but the last

In [3]:
def ambiguous_mappings(df, cols):
    uniqs = (
        df
        #.reset_index()
        [cols]
        .drop_duplicates()
        .sort_values(cols)
    )
    hist = uniqs.value_counts(cols[:-1], sort=False)
    conflicts = hist[hist > 1]
    conflicts = uniqs.set_index(cols[:-1]).loc[conflicts.index].reset_index()
    return uniqs, conflicts

### County Code ⟹ County Name

In [4]:
cn_cols = [ 'cc', 'cn' ]
cc2cn, county_name_conflicts = ambiguous_mappings(c, cn_cols)
assert len(county_name_conflicts) == 0
cc2cn = cc2cn.set_index('cc')['cn']
assert cc2cn.to_dict() == njdot.data.cc2cn
c.groupby(cn_cols)['num'].sum()

cc  cn
1   Atlantic      199592
2   Bergen        682254
3   Burlington    275382
4   Camden        338799
5   Cape May       67876
6   Cumberland    102238
7   Essex         637442
8   Gloucester    162997
9   Hudson        440379
10  Hunterdon      86997
11  Mercer        280890
12  Middlesex     632026
13  Monmouth      431841
14  Morris        336447
15  Ocean         355144
16  Passaic       406831
17  Salem          38454
18  Somerset      245646
19  Sussex         81456
20  Union         443518
21  Warren         73585
Name: num, dtype: int64

### { County Code, Muni Code, Year } ⟹ Muni Name

In [5]:
mny_keys = [ 'cc', 'mc', 'year' ]
mn_keys = [ 'cc', 'mc' ]
mn_val = 'mn'
mn_cols = mn_keys + [ mn_val ]
mny_cols = mny_keys + [ mn_val ]
mny_uniqs, mny_conflicts = ambiguous_mappings(c, mny_cols)
assert len(mny_conflicts) == 0
mny_uniqs.set_index(mn_cols + ['year'])

Empty DataFrame
Columns: []
Index: [(1, 1, Absecon City, 2001), (1, 1, Absecon City, 2002), (1, 1, Absecon City, 2003), (1, 1, Absecon City, 2004), (1, 1, Absecon City, 2005), (1, 1, Absecon City, 2006), (1, 1, Absecon City, 2007), (1, 1, Absecon City, 2008), (1, 1, Absecon City, 2009), (1, 1, Absecon City, 2010), (1, 1, Absecon City, 2011), (1, 1, Absecon City, 2012), (1, 1, Absecon City, 2013), (1, 1, Absecon City, 2014), (1, 1, Absecon City, 2015), (1, 1, Absecon City, 2016), (1, 1, Absecon City, 2017), (1, 1, Absecon City, 2018), (1, 1, Absecon City, 2019), (1, 1, Absecon City, 2020), (1, 1, Absecon City, 2021), (1, 1, Absecon City, 2022), (1, 2, Atlantic City, 2001), (1, 2, Atlantic City, 2002), (1, 2, Atlantic City, 2003), (1, 2, Atlantic City, 2004), (1, 2, Atlantic City, 2005), (1, 2, Atlantic City, 2006), (1, 2, Atlantic City, 2007), (1, 2, Atlantic City, 2008), (1, 2, Atlantic City, 2009), (1, 2, Atlantic City, 2010), (1, 2, Atlantic City, 2011), (1, 2, Atlantic City, 2012), (1, 2, Atlantic City, 2013), (1, 2, Atlantic City, 2014), (1, 2, Atlantic City, 2015), (1, 2, Atlantic City, 2016), (1, 2, Atlantic City, 2017), (1, 2, Atlantic City, 2018), (1, 2, Atlantic City, 2019), (1, 2, Atlantic City, 2020), (1, 2, Atlantic City, 2021), (1, 2, Atlantic City, 2022), (1, 3, Brigantine City, 2001), (1, 3, Brigantine City, 2002), (1, 3, Brigantine City, 2003), (1, 3, Brigantine City, 2004), (1, 3, Brigantine City, 2005), (1, 3, Brigantine City, 2006), (1, 3, Brigantine City, 2007), (1, 3, Brigantine City, 2008), (1, 3, Brigantine City, 2009), (1, 3, Brigantine City, 2010), (1, 3, Brigantine City, 2011), (1, 3, Brigantine City, 2012), (1, 3, Brigantine City, 2013), (1, 3, Brigantine City, 2014), (1, 3, Brigantine City, 2015), (1, 3, Brigantine City, 2016), (1, 3, Brigantine City, 2017), (1, 3, Brigantine City, 2018), (1, 3, Brigantine City, 2019), (1, 3, Brigantine City, 2020), (1, 3, Brigantine City, 2021), (1, 3, Brigantine City, 2022), (1, 4, Buena Boro, 2001), (1, 4, Buena Boro, 2002), (1, 4, Buena Boro, 2003), (1, 4, Buena Boro, 2004), (1, 4, Buena Boro, 2005), (1, 4, Buena Boro, 2006), (1, 4, Buena Boro, 2007), (1, 4, Buena Boro, 2008), (1, 4, Buena Boro, 2009), (1, 4, Buena Boro, 2010), (1, 4, Buena Boro, 2011), (1, 4, Buena Boro, 2012), (1, 4, Buena Boro, 2013), (1, 4, Buena Boro, 2014), (1, 4, Buena Boro, 2015), (1, 4, Buena Boro, 2016), (1, 4, Buena Boro, 2017), (1, 4, Buena Boro, 2018), (1, 4, Buena Boro, 2019), (1, 4, Buena Boro, 2020), (1, 4, Buena Boro, 2021), (1, 4, Buena Boro, 2022), (1, 5, Buena Vista Twp, 2001), (1, 5, Buena Vista Twp, 2002), (1, 5, Buena Vista Twp, 2003), (1, 5, Buena Vista Twp, 2004), (1, 5, Buena Vista Twp, 2005), (1, 5, Buena Vista Twp, 2006), (1, 5, Buena Vista Twp, 2007), (1, 5, Buena Vista Twp, 2008), (1, 5, Buena Vista Twp, 2009), (1, 5, Buena Vista Twp, 2010), (1, 5, Buena Vista Twp, 2011), (1, 5, Buena Vista Twp, 2012), ...]

[12304 rows x 0 columns]

### Check NJDOT county/muni codes

#### { County Code, Muni Code } ⟹ Muni Name conflicts

In [6]:
_, muni_name_conflicts = ambiguous_mappings(c, mn_cols)
muni_name_conflicts.set_index(mn_cols)

Empty DataFrame
Columns: []
Index: [(14, 30, Long Hill Twp), (14, 30, Passaic Twp), (15, 7, Dover Twp), (15, 7, Toms River Twp), (16, 16, West Paterson Boro), (16, 16, Woodland Park Boro)]

#### Muni Name transitions

In [7]:
mnys = (
    mny_uniqs
    .merge(muni_name_conflicts, on=mn_cols)
    .set_index(mny_keys)
    .sort_index()
    [mn_val]
)
mnys

cc  mc  year
14  30  2001           Passaic Twp
        2002           Passaic Twp
        2003           Passaic Twp
        2004           Passaic Twp
        2005           Passaic Twp
        2006           Passaic Twp
        2007           Passaic Twp
        2008           Passaic Twp
        2009           Passaic Twp
        2010           Passaic Twp
        2011           Passaic Twp
        2012           Passaic Twp
        2013         Long Hill Twp
        2014         Long Hill Twp
        2015         Long Hill Twp
        2016         Long Hill Twp
        2017           Passaic Twp
        2018           Passaic Twp
        2019           Passaic Twp
        2021           Passaic Twp
        2022           Passaic Twp
15  7   2001             Dover Twp
        2002             Dover Twp
        2003             Dover Twp
        2004             Dover Twp
        2005             Dover Twp
        2006             Dover Twp
        2007             Dover Twp
        2008        Toms River Twp
        2009        Toms River Twp
        2010        Toms River Twp
        2011        Toms River Twp
        2012        Toms River Twp
        2013        Toms River Twp
        2014        Toms River Twp
        2015        Toms River Twp
        2016        Toms River Twp
        2017        Toms River Twp
        2018        Toms River Twp
        2019        Toms River Twp
        2020        Toms River Twp
        2021        Toms River Twp
        2022        Toms River Twp
16  16  2001    West Paterson Boro
        2002    West Paterson Boro
        2003    West Paterson Boro
        2004    West Paterson Boro
        2005    West Paterson Boro
        2006    West Paterson Boro
        2007    West Paterson Boro
        2008    Woodland Park Boro
        2009    Woodland Park Boro
        2010    Woodland Park Boro
        2011    Woodland Park Boro
        2012    Woodland Park Boro
        2013    Woodland Park Boro
        2014    Woodland Park Boro
        2015    Woodland Park Boro
        2016    Woodland Park Boro
        2017    Woodland Park Boro
        2018    Woodland Park Boro
        2019    Woodland Park Boro
        2020    Woodland Park Boro
        2021    Woodland Park Boro
        2022    Woodland Park Boro
Name: mn, dtype: string

In [8]:
mnys[mnys != mnys.shift(1)]

cc  mc  year
14  30  2013         Long Hill Twp
        2017           Passaic Twp
15  7   2001             Dover Twp
        2008        Toms River Twp
16  16  2001    West Paterson Boro
        2008    Woodland Park Boro
Name: mn, dtype: string

### Use 2021 muni names as canonical

In [9]:
mn21 = (
    mny_uniqs
    [['cc', 'mc', 'mn', 'year']]
    .groupby(['cc', 'mc'])
    .apply(lambda df: df.sort_values('year').iloc[-1].mn)
    .rename('mn')
    .reset_index()
    .merge(cc2cn, left_on='cc', right_index=True, how='left', validate='m:1')
    [['cc', 'cn', 'mc', 'mn']]
)

# Fix typos / normalize muni names
mn_nits = {
    'Mount Ephriam Boro': 'Mount Ephraim Boro',
    'Ho Ho Kus Boro': 'Ho-Ho-Kus Boro',
    'Lower Alloways Crk': 'Lower Alloways Creek',
    'Sandvston Twp': 'Sandyston Twp',
    'Passaic Twp': 'Long Hill Twp',  # renamed in 1992; https://en.wikipedia.org/wiki/Long_Hill_Township,_New_Jersey
    'Orange City': 'Orange Twp',
    'Avon-By-The-Sea Boro': 'Avon-by-the-Sea Boro',
    'South Orange Village Twp': 'South Orange Village',
    'Pt Pleasant Beach Boro': 'Point Pleasant Beach Boro',
    'South Orange Village Twp': 'South Orange Twp',
    'Lower Alloways Crk Twp': 'Lower Alloways Creek Twp',
    # Princeton Twp and Boro merged in 2013: https://en.wikipedia.org/wiki/Princeton,_New_Jersey
    'Princeton Twp': 'Princeton',
    'Princeton Boro': 'Princeton',
    # Dissolved/Merged in 2022: https://en.wikipedia.org/wiki/Pine_Valley,_New_Jersey
    'Pine Valley Boro': 'Pine Hill Boro',
    # Dissolved/Merged in 1997: https://en.wikipedia.org/wiki/Pahaquarry_Township,_New_Jersey
    'Pahaquarry Twp': 'Hardwick Twp',
}
for src, dst in mn_nits.items():
    mn21['mn'] = mn21['mn'].replace(src, dst, regex=False)
mn21

/tmp/ipykernel_2317/3433844655.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda df: df.sort_values('year').iloc[-1].mn)

     cc        cn  mc                 mn
0     1  Atlantic   1       Absecon City
1     1  Atlantic   2      Atlantic City
2     1  Atlantic   3    Brigantine City
3     1  Atlantic   4         Buena Boro
4     1  Atlantic   5    Buena Vista Twp
..   ..       ...  ..                ...
563  21    Warren  19  Phillipsburg Town
564  21    Warren  20      Pohatcong Twp
565  21    Warren  21    Washington Boro
566  21    Warren  22     Washington Twp
567  21    Warren  23          White Twp

[568 rows x 4 columns]

## Load NJSP county/muni codes

In [10]:
suffixes = [ 'Boro', 'City', 'Village', 'Twp', 'Town', ]

In [11]:
from njsp.cli.update_pqts import get_crashes_df

renames = {
    'CCODE': 'cc',
    'MCODE': 'mc',
    'CNAME': 'cn',
    'MNAME': 'mn',
    'FATALITIES': 'tk',
    'INJURIES': 'ti',
    'FATAL_D': 'dk',
    'FATAL_P': 'ok',
    'FATAL_T': 'pk',
    'FATAL_B': 'bk',
    **{
        c: c.lower()
        for c in ['STREET', 'HIGHWAY', 'LOCATION']
    },
}

def parse_mc(r):
    assert r.mc[:2] == r.cc
    return r.mc[2:]

sp = get_crashes_df()[0].rename(columns=renames)
sp['mc'] = sp.apply(parse_mc, axis=1)
sp = sp.astype({ 'cc': int, 'mc': int })
sp = sp[['dt'] + list(renames.values())]
sp['mn'] = sp.mn.replace(' Twsp?$', ' Twp', regex=True)

for tpe in suffixes:
    full_suffix = f' {tpe}'
    for idx in range(1, len(tpe)):
        suffix = f' {tpe[:idx]}$'
        sp['mn'] = sp.mn.replace(suffix, full_suffix, regex=True)

for src, dst in {
    'Easthampton Twp': 'Eastampton Twp',
    'Hohokus Boro': 'Ho-Ho-Kus Boro',
    'Ridgewood Twp': 'Ridgewood Village',
    'Ridgefield Park Twp': 'Ridgefield Park Village',
    'Parsippany-Troy Hil': 'Parsippany-Troy Hills',
    'Lower Alloways Cree': 'Lower Alloways Creek',
    'Orange City': 'Orange Twp',
    'Avon-By-The-Sea Boro': 'Avon-by-the-Sea Boro',
    'South Orange Village': 'South Orange Twp', 
    'Point Pleasant Beac': 'Point Pleasant Beach',
}.items():
    sp['mn'] = sp.mn.replace(src, dst, regex=False)
sp

      accidents  injuries  fatalities
year
2008        555       414         590
2009        550       352         584
2010        530       366         556
2011        586       517         627
2012        553       382         589
2013        508       393         542
2014        523       345         556
2015        522       374         562
2016        570       398         602
2017        591       368         624
2018        524       358         563
2019        524       340         558
2020        550       263         587
2021        667       397         697
2022        646       463         689
2023        574       371         606
2024        647       268         684
2025        197        34         214
      CCODE       CNAME MCODE            MNAME HIGHWAY  \
ACCID
1703     01    Atlantic  0102    Atlantic City     446
1681     09      Hudson  0910       Union City     NaN
1659     04      Camden  0415  Gloucester Twsp      42
1661     20       Union  2004   Elizabeth City     624
1811     07       Essex  0716      Nutley Town     648
...     ...         ...   ...              ...     ...
13927    13    Monmouth  1328    Marlboro Twsp      18
13929    01    Atlantic  0112    Hamilton Twsp     559
13931    10   Hunterdon  1022  Readington Twsp      22
13930    11      Mercer  1106    Hopewell Twsp      31
13932    06  Cumberland  0614    Vineland City     NaN

                                    LOCATION  FATALITIES  INJURIES  \
ACCID
1703   State/Interstate Authority 446 S MP 1         1.0       1.0
1681         Bergenline Ave S MP 0 at 6th St         1.0       NaN
1659               State Highway 42 N MP 8.2         1.0       1.0
1661          County 624 W MP 2.2 at Ikea Dr         1.0       1.0
1811     County 648 E MP .87 at Franklin Ave         1.0       NaN
...                                      ...         ...       ...
13927                       State Highway 18         1.0       NaN
13929                             County 559         1.0       NaN
13931                       State Highway 22         1.0       NaN
13930                       State Highway 31         1.0       NaN
13932                        Hance Bridge Rd         1.0       NaN

                STREET                        dt  FATAL_D  FATAL_P  FATAL_T  \
ACCID
1703               NaN 2008-01-01 00:35:00-05:00      NaN      NaN      NaN
1681    Bergenline Ave 2008-01-01 04:11:00-05:00      NaN      NaN      NaN
1659               NaN 2008-01-01 06:46:00-05:00      NaN      NaN      NaN
1661               NaN 2008-01-01 12:29:00-05:00      NaN      NaN      NaN
1811               NaN 2008-01-01 18:53:00-05:00      NaN      NaN      NaN
...                ...                       ...      ...      ...      ...
13927              NaN 2025-05-26 05:05:00-04:00      0.0      1.0      0.0
13929              NaN 2025-05-26 15:09:00-04:00      1.0      0.0      0.0
13931              NaN 2025-05-26 20:23:00-04:00      0.0      0.0      1.0
13930              NaN 2025-05-27 12:07:00-04:00      0.0      1.0      0.0
13932  Hance Bridge Rd 2025-05-29 18:03:00-04:00      1.0      0.0      0.0

       FATAL_B
ACCID
1703       NaN
1681       NaN
1659       NaN
1661       NaN
1811       NaN
...        ...
13927      0.0
13929      0.0
13931      0.0
13930      0.0
13932      0.0

[9817 rows x 14 columns]
/opt/hostedtoolcache/Python/3.11.8/x64/lib/python3.11/site-packages/dateutil/parser/_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

,dt,cc,mc,cn,mn,tk,ti,dk,ok,pk,bk,street,highway,location
ACCID,,,,,,,,,,,,,,
1703,2008-01-01 00:35:00-05:00,1,2,Atlantic,Atlantic City,1.0,1.0,NaN,NaN,NaN,NaN,NaN,446,State/Interstate Authority 446 S MP 1
1681,2008-01-01 04:11:00-05:00,9,10,Hudson,Union City,1.0,NaN,NaN,NaN,NaN,NaN,Bergenline Ave,NaN,Bergenline Ave S MP 0 at 6th St
1659,2008-01-01 06:46:00-05:00,4,15,Camden,Gloucester Twp,1.0,1.0,NaN,NaN,NaN,NaN,NaN,42,State Highway 42 N MP 8.2
1661,2008-01-01 12:29:00-05:00,20,4,Union,Elizabeth City,1.0,1.0,NaN,NaN,NaN,NaN,NaN,624,County 624 W MP 2.2 at Ikea Dr
1811,2008-01-01 18:53:00-05:00,7,16,Essex,Nutley Town,1.0,NaN,NaN,NaN,NaN,NaN,NaN,648,County 648 E MP .87 at Franklin Ave
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13927,2025-05-26 05:05:00-04:00,13,28,Monmouth,Marlboro Twp,1.0,NaN,0.0,1.0,0.0,0.0,NaN,18,State Highway 18
13929,2025-05-26 15:09:00-04:00,1,12,Atlantic,Hamilton Twp,1.0,NaN,1.0,0.0,0.0,0.0,NaN,559,County 559
13931,2025-05-26 20:23:00-04:00,10,22,Hunterdon,Readington Twp,1.0,NaN,0.0,0.0,1.0,0.0,NaN,22,State Highway 22
13930,2025-05-27 12:07:00-04:00,11,6,Mercer,Hopewell Twp,1.0,NaN,0.0,1.0,0.0,0.0,NaN,31,State Highway 31
13932,2025-05-29 18:03:00-04:00,6,14,Cumberland,Vineland City,1.0,NaN,1.0,0.0,0.0,0.0,Hance Bridge Rd,NaN,Hance Bridge Rd

## Load NJGIN muni codes
See [Municipal_Boundaries_of_NJ.geojson]('../www/public/Municipal_Boundaries_of_NJ.geojson'), downloaded from [this NJGIN ArcGIS layer](https://njogis-newjersey.opendata.arcgis.com/datasets/3d5d1db8a1b34b418c331f4ce1fd0fef/explore).

In [12]:
from nj_crashes import load_munis_geojson
mdf = load_munis_geojson().reset_index()
mn2 = mdf.NAME.rename('mn')
for src, dst in {
    'Borough': 'Boro',
    'Township': 'Twp',
}.items():
    mn2 = mn2.replace(f' {src}$', f' {dst}', regex=True)
for src, dst in {
    'South Orange Village Twp': 'South Orange Twp',
    'Boonton': 'Boonton Town',
    'City of Orange Twp': 'Orange Twp',
}.items():
    mn2 = mn2.replace(src, dst, regex=False)

cc2 = mdf.cc
cn2 = mdf.COUNTY.str.title().rename('cn')
mc2 = mdf.mc
mc2

Running: dvc pull www/public/Municipal_Boundaries_of_NJ.geojson

A       www/public/Municipal_Boundaries_of_NJ.geojson
1 file added and 1 file fetched

0       3
1      12
2       2
3      15
4      13
       ..
559    22
560    27
561    12
562     8
563    21
Name: mc, Length: 564, dtype: int64

## Align county and muni codes (NJDOT, NJSP, NJGIN)

In [13]:
def split_stem_suffix(r):
    for suffix in suffixes:
        if r.mn.endswith(f' {suffix}'):
            return Series(dict(
                stem=r.mn[:-(len(suffix) + 1)],
                type=suffix,
            ))
    return dict(stem=r.mn, type=None)

def add_stems(df, id_name):
    df = df[['cc', 'cn', 'mc', 'mn']].drop_duplicates()
    df = sxs(df, df.apply(split_stem_suffix, axis=1)).sort_values(['cc', 'mc']).reset_index(drop=True)
    dupe_mask = df.duplicated(keep='last', subset=['cc', 'mc'])
    dupes = df[dupe_mask]
    if not dupes.empty:
        all_dupes = df[df.duplicated(keep=False, subset=['cc', 'mc'])]
        err(f"Dropping {len(dupes)} non-last duplicate (cc,mc) entries. All dupes:")
        err(str(all_dupes))
    df = df[~dupe_mask]
    assert df[df.duplicated(keep=False, subset=['cc', 'mc'])].empty
    df.index.name = id_name
    return df

In [14]:
df0 = add_stems(mn21, 'dot')
df0

     cc        cn  mc                 mn          stem  type
dot
0     1  Atlantic   1       Absecon City       Absecon  City
1     1  Atlantic   2      Atlantic City      Atlantic  City
2     1  Atlantic   3    Brigantine City    Brigantine  City
3     1  Atlantic   4         Buena Boro         Buena  Boro
4     1  Atlantic   5    Buena Vista Twp   Buena Vista   Twp
..   ..       ...  ..                ...           ...   ...
563  21    Warren  19  Phillipsburg Town  Phillipsburg  Town
564  21    Warren  20      Pohatcong Twp     Pohatcong   Twp
565  21    Warren  21    Washington Boro    Washington  Boro
566  21    Warren  22     Washington Twp    Washington   Twp
567  21    Warren  23          White Twp         White   Twp

[568 rows x 6 columns]

In [15]:
df1 = add_stems(sp, 'sp')
df1

Dropping 4 non-last duplicate (cc,mc) entries. All dupes:
     cc        cn  mc                mn             stem  type
270  11    Mercer  10     Princeton Twp        Princeton   Twp
271  11    Mercer  10         Princeton        Princeton  None
273  11    Mercer  12    Washington Twp       Washington   Twp
274  11    Mercer  12  Robbinsville Twp     Robbinsville   Twp
306  13  Monmouth   9   Brielle Borowsp  Brielle Borowsp  None
307  13  Monmouth   9      Brielle Boro          Brielle  Boro
351  14    Morris  10  East Honover Twp     East Honover   Twp
352  14    Morris  10  East Hanover Twp     East Hanover   Twp

     cc        cn  mc                 mn          stem  type
sp
0     1  Atlantic   1       Absecon City       Absecon  City
1     1  Atlantic   2      Atlantic City      Atlantic  City
2     1  Atlantic   3    Brigantine City    Brigantine  City
3     1  Atlantic   4         Buena Boro         Buena  Boro
4     1  Atlantic   5    Buena Vista Twp   Buena Vista   Twp
..   ..       ...  ..                ...           ...   ...
515  21    Warren  19  Phillipsburg Town  Phillipsburg  Town
516  21    Warren  20      Pohatcong Twp     Pohatcong   Twp
517  21    Warren  21    Washington Boro    Washington  Boro
518  21    Warren  22     Washington Twp    Washington   Twp
519  21    Warren  23          White Twp         White   Twp

[516 rows x 6 columns]

In [16]:
df2 = add_stems(sxs(cc2, cn2, mc2, mn2), 'gin')
df2

     cc        cn  mc               mn          stem  type
gin
0     1  Atlantic   1          Absecon       Absecon  None
1     1  Atlantic   2    Atlantic City      Atlantic  City
2     1  Atlantic   3       Brigantine    Brigantine  None
3     1  Atlantic   4       Buena Boro         Buena  Boro
4     1  Atlantic   5  Buena Vista Twp   Buena Vista   Twp
..   ..       ...  ..              ...           ...   ...
559  21    Warren  19     Phillipsburg  Phillipsburg  None
560  21    Warren  20    Pohatcong Twp     Pohatcong   Twp
561  21    Warren  21  Washington Boro    Washington  Boro
562  21    Warren  22   Washington Twp    Washington   Twp
563  21    Warren  23        White Twp         White   Twp

[564 rows x 6 columns]

In [17]:
def align(l, r, validate1='1:1'):
    on = [ 'cn', 'mn', ]
    common = [ 'cc', 'mc', 'type', ]
    cols = [ *on, *common ]
    ln = l.index.name
    rn = r.index.name
    lr1 = (
        l
        .reset_index()
        [[ln] + cols].merge(
            r
            .reset_index()
            [[rn] + cols],
            on=on,
            suffixes=[f'_{ln}', f'_{rn}'],
            validate=validate1,
        )
    )

    lcc = f'cc_{ln}'
    rcc = f'cc_{rn}'
    lmc = f'mc_{ln}'
    rmc = f'mc_{rn}'
    ltc = f'type_{ln}'
    rtc = f'type_{rn}'
    lt = lr1[ltc]
    rt = lr1[rtc]
    
    assert (lr1[lcc] == lr1[rcc]).all()
    types_match = (lt == rt) | (lt.isna() & rt.isna())
    assert (types_match).all(), lr1[~types_match]
    mc_match_hist = (lr1[lmc] == lr1[rmc]).value_counts()
    err(f"Found {len(lr1)} exact ({','.join(on)}) matches from {len(l)} {ln} and {len(r)} {rn} entries")

    cc = lr1[lcc].rename('cc')
    tpe = lr1[ltc].rename('type')
    mcl = lr1[lmc]
    mcr = lr1[rmc]
    m1 = sxs(cc, mcl, mcr, tpe)

    # Filter out exact matches, re-match on "stems"
    l2 = l[~l.index.isin(lr1[ln])]
    r2 = r[~r.index.isin(lr1[rn])]
    l2_dupes = l2[l2.duplicated(keep=False, subset=['cn', 'stem'])]
    r2_dupes = r2[r2.duplicated(keep=False, subset=['cn', 'stem'])]
    assert l2_dupes.empty, f"{len(l2_dupes)} (cn,stem) dupes found:\n{l2_dupes}"
    assert r2_dupes.empty, f"{len(r2_dupes)} (cn,stem) dupes found:\n{r2_dupes}"

    on = [ 'cn', 'stem', ]
    cols2 = [ *on, *common, ]
    lr2 = (
        l2
        .reset_index()
        [[ln] + cols2]
        .merge(
            r2
            .reset_index()
            [[rn] + cols2],
            on=on,
            suffixes=[f'_{ln}', f'_{rn}'],
            validate='1:1',
        )
    )

    assert (lr2[lcc] == lr2[rcc]).all()
    mc_match_hist = (lr2[lmc] == lr2[rmc]).value_counts()
    err(f"Found {len(lr2)} ({','.join(on)}) matches from {len(l2)} {ln} and {len(r2)} {rn} entries")

    l3 = l2[~l2.index.isin(lr2[ln])]
    r3 = r2[~r2.index.isin(lr2[rn])]
    assert l3.empty, f"Found {len(l3)} unaligned items from l:\n{l3}"

    err(f'{ln}: {len(l)} entries, {len(lr1)} exact matches, {len(lr2)} stem matches, {len(l3)} unmatched')
    err(f'{rn}: {len(r)} entries, {len(lr1)} exact matches, {len(lr2)} stem matches, {len(r3)} unmatched')

    cc = lr2[lcc].rename('cc')
    mcl = lr2[lmc]
    mcr = lr2[rmc]
    tcl = lr2[ltc]
    tcr = lr2[rtc]

    m2 = sxs(cc, mcl, mcr)
    m2['type'] = tcr  # default to right `type`
    has_tcl = ~tcl.isna()
    has_tcr = ~tcr.isna()
    m2.loc[has_tcl & ~has_tcr, 'type'] = tcl  # fallback to left `type`
    m2t = m2.merge(r[['cc', 'mc', 'stem']], left_on=['cc', rmc], right_on=['cc', 'mc'], how='left').drop(columns='mc')
    type_conflicts = sxs(m2t.drop(columns='type'), tcl, tcr)[(tcl != tcr) & has_tcl & has_tcr]
    if not type_conflicts.empty:
        err(f"{len(type_conflicts)} conflicting types:")
        err(str(type_conflicts))

    m = pd.concat([m1, m2])
    m = m.merge(r[['cc', 'mc', 'stem']], left_on=['cc', rmc], right_on=['cc', 'mc'], how='left').drop(columns='mc')
    m['mn'] = m.apply(lambda r: r.stem + (f' {r["type"]}' if r["type"] else ''), axis=1)
    err(f"{(m[lmc] != m[rmc]).sum()} mc's don't match")
    return m

In [18]:
m12 = align(df1, df2)
m12

Found 446 exact (cn,mn) matches from 516 sp and 564 gin entries
Found 70 (cn,stem) matches from 70 sp and 118 gin entries
sp: 516 entries, 446 exact matches, 70 stem matches, 0 unmatched
gin: 564 entries, 446 exact matches, 70 stem matches, 48 unmatched
10 conflicting types:
    cc  mc_sp  mc_gin           stem type_sp type_gin
21   7      1       1     Belleville    Town      Twp
22   7      2       2     Bloomfield    Boro      Twp
23   7      4       7      Fairfield    Boro      Twp
25   7      9       9      Irvington    Town      Twp
26   7     13      13      Montclair    Town      Twp
28   7     16      16         Nutley    Town      Twp
29   7     20      20         Verona    Boro      Twp
30   7     21      21  West Caldwell    Boro      Twp
31   7     22      22    West Orange    Town      Twp
48  13     39      18         Hazlet    Boro      Twp
105 mc's don't match

     cc  mc_sp  mc_gin  type          stem                 mn
0     1      2       2  City      Atlantic      Atlantic City
1     1      4       4  Boro         Buena         Buena Boro
2     1      5       5   Twp   Buena Vista    Buena Vista Twp
3     1      7       7  City    Egg Harbor    Egg Harbor City
4     1      8       8   Twp    Egg Harbor     Egg Harbor Twp
..   ..    ...     ...   ...           ...                ...
511  20     18      18  City        Summit        Summit City
512  20     20      20  Town     Westfield     Westfield Town
513  21      3       3  Town     Belvidere     Belvidere Town
514  21      8       8  Town  Hackettstown  Hackettstown Town
515  21     19      19  Town  Phillipsburg  Phillipsburg Town

[516 rows x 6 columns]

In [19]:
sp2gin = m12[['cc', 'mc_sp', 'mc_gin']]
sp2gin.to_parquet(njsp.paths.MC_PQT)
sp2gin

     cc  mc_sp  mc_gin
0     1      2       2
1     1      4       4
2     1      5       5
3     1      7       7
4     1      8       8
..   ..    ...     ...
511  20     18      18
512  20     20      20
513  21      3       3
514  21      8       8
515  21     19      19

[516 rows x 3 columns]

In [20]:
m02 = align(df0, df2, validate1='m:1')
m02

Found 509 exact (cn,mn) matches from 568 dot and 564 gin entries
Found 59 (cn,stem) matches from 59 dot and 59 gin entries
dot: 568 entries, 509 exact matches, 59 stem matches, 0 unmatched
gin: 564 entries, 509 exact matches, 59 stem matches, 0 unmatched
2 conflicting types:
    cc  mc_dot  mc_gin       stem type_dot type_gin
23   7       7       7  Fairfield     Boro      Twp
35  10      20      20    Milford      Twp     Boro
103 mc's don't match

     cc  mc_dot  mc_gin  type          stem                 mn
0     1       2       2  City      Atlantic      Atlantic City
1     1       4       4  Boro         Buena         Buena Boro
2     1       5       5   Twp   Buena Vista    Buena Vista Twp
3     1       6       6  City        Corbin        Corbin City
4     1       7       7  City    Egg Harbor    Egg Harbor City
..   ..     ...     ...   ...           ...                ...
563  20      18      18  City        Summit        Summit City
564  20      20      20  Town     Westfield     Westfield Town
565  21       3       3  Town     Belvidere     Belvidere Town
566  21       8       8  Town  Hackettstown  Hackettstown Town
567  21      19      19  Town  Phillipsburg  Phillipsburg Town

[568 rows x 6 columns]

In [21]:
dot2gin = m02[['cc', 'mc_dot', 'mc_gin']]
dot2gin.to_parquet(njdot.paths.MC_PQT)
dot2gin

     cc  mc_dot  mc_gin
0     1       2       2
1     1       4       4
2     1       5       5
3     1       6       6
4     1       7       7
..   ..     ...     ...
563  20      18      18
564  20      20      20
565  21       3       3
566  21       8       8
567  21      19      19

[568 rows x 3 columns]

In [22]:
m = (
    m12
    .merge(
        m02,
        on=['cc', 'mc_gin'],
        how='outer',
        suffixes=['_sp', '_dot']
    )
    .sort_values(['cc', 'mc_gin'])
    .astype({
        'mc_sp': 'Int8',
        'mc_dot': 'Int8',
    })
)
assert ((m.stem_sp == m.stem_dot) | m.stem_sp.isna() | m.stem_dot.isna()).all()
assert ((m.type_sp == m.type_dot) | m.type_sp.isna() | m.type_dot.isna()).all()

m['stem'] = m['stem_sp']
m.loc[m.stem.isna() & ~m.stem_dot.isna(), 'stem'] = m.stem_dot
m['type'] = m['type_sp']
m.loc[m.type.isna() & ~m.type_dot.isna(), 'type'] = m.type_dot
m = m.drop(columns=[
    f'{c}_{t}'
    for c in [ 'stem', 'type', 'mn', ]
    for t in [ 'dot', 'sp', ]
])
m['mn'] = m.apply(lambda r: r.stem + (f' {r["type"]}' if r["type"] else ''), axis=1)
m = m.merge(cc2cn, left_on='cc', right_index=True, how='left', validate='m:1')
m = m[['cc', 'cn', 'mc_gin', 'mc_dot', 'mc_sp', 'mn', 'stem', 'type']]
m

,cc,cn,mc_gin,mc_dot,mc_sp,mn,stem,type
0,1,Atlantic,1,1,1,Absecon City,Absecon,City
1,1,Atlantic,2,2,2,Atlantic City,Atlantic,City
2,1,Atlantic,3,3,3,Brigantine City,Brigantine,City
3,1,Atlantic,4,4,4,Buena Boro,Buena,Boro
4,1,Atlantic,5,5,5,Buena Vista Twp,Buena Vista,Twp
...,...,...,...,...,...,...,...,...
563,21,Warren,19,19,19,Phillipsburg Town,Phillipsburg,Town
564,21,Warren,20,20,20,Pohatcong Twp,Pohatcong,Twp
565,21,Warren,21,21,21,Washington Boro,Washington,Boro
566,21,Warren,22,22,22,Washington Twp,Washington,Twp
567,21,Warren,23,23,23,White Twp,White,Twp

In [23]:
m[m.type.isna()]

     cc      cn  mc_gin  mc_dot  mc_sp         mn       stem  type
295  11  Mercer      14       9     10  Princeton  Princeton  None
296  11  Mercer      14      10     10  Princeton  Princeton  None
297  11  Mercer      14      14     10  Princeton  Princeton  None

In [24]:
m.type.value_counts(dropna=False)

type
Boro       253
Twp        242
City        52
Town        15
Village      3
None         3
Name: count, dtype: int64

In [25]:
pd.crosstab((m.mc_sp == m.mc_gin).rename('sp == gin'), (m.mc_dot == m.mc_gin).rename('dot == gin'))

dot == gin  False  True
sp == gin
False          76     31
True           10    403

## Drop "Township"/"City"/etc. suffixes
Except in a few cases, e.g. "Jersey City"

In [26]:
df2[df2.mn == 'Princeton']

     cc      cn  mc         mn       stem  type
gin
294  11  Mercer  14  Princeton  Princeton  None

Preserve these cities' full names

In [27]:
city_stems = [ 'Atlantic', 'Jersey', 'Ocean', 'Union', ]
cities = [ f'{stem} City' for stem in city_stems ]
cities

['Atlantic City', 'Jersey City', 'Ocean City', 'Union City']

In [28]:
city_full_mask = df2.mn.isin(cities)
df2[city_full_mask]

     cc        cn  mc             mn      stem  type
gin
1     1  Atlantic   2  Atlantic City  Atlantic  City
176   5  Cape May   8     Ocean City     Ocean  City
250   9    Hudson   6    Jersey City    Jersey  City
254   9    Hudson  10     Union City     Union  City

In [29]:
cnn_dupe_mask = df2.duplicated(['cc', 'stem'], keep=False)
cnn_dupes = df2[cnn_dupe_mask]
cnn_dupes

     cc          cn  mc               mn        stem  type
gin
6     1    Atlantic   7  Egg Harbor City  Egg Harbor  City
7     1    Atlantic   8   Egg Harbor Twp  Egg Harbor   Twp
95    3  Burlington   3       Bordentown  Bordentown  None
96    3  Burlington   4   Bordentown Twp  Bordentown   Twp
97    3  Burlington   5       Burlington  Burlington  None
98    3  Burlington   6   Burlington Twp  Burlington   Twp
120   3  Burlington  28   Pemberton Boro   Pemberton  Boro
121   3  Burlington  29    Pemberton Twp   Pemberton   Twp
137   4      Camden   5      Berlin Boro      Berlin  Boro
138   4      Camden   6       Berlin Twp      Berlin   Twp
146   4      Camden  14  Gloucester City  Gloucester  City
147   4      Camden  15   Gloucester Twp  Gloucester   Twp
261  10   Hunterdon   5          Clinton     Clinton  None
262  10   Hunterdon   6      Clinton Twp     Clinton   Twp
274  10   Hunterdon  18     Lebanon Boro     Lebanon  Boro
275  10   Hunterdon  19      Lebanon Twp     Lebanon   Twp
287  11      Mercer   5    Hopewell Boro    Hopewell  Boro
288  11      Mercer   6     Hopewell Twp    Hopewell   Twp
335  13    Monmouth  16    Freehold Boro    Freehold  Boro
336  13    Monmouth  17     Freehold Twp    Freehold   Twp
363  13    Monmouth  44  Shrewsbury Boro  Shrewsbury  Boro
364  13    Monmouth  45   Shrewsbury Twp  Shrewsbury   Twp
373  14      Morris   1     Boonton Town     Boonton  Town
374  14      Morris   2      Boonton Twp     Boonton   Twp
376  14      Morris   4     Chatham Boro     Chatham  Boro
377  14      Morris   5      Chatham Twp     Chatham   Twp
378  14      Morris   6     Chester Boro     Chester  Boro
379  14      Morris   7      Chester Twp     Chester   Twp
390  14      Morris  18     Mendham Boro     Mendham  Boro
391  14      Morris  19      Mendham Twp     Mendham   Twp
406  14      Morris  34    Rockaway Boro    Rockaway  Boro
407  14      Morris  35     Rockaway Twp    Rockaway   Twp
497  19      Sussex   1     Andover Boro     Andover  Boro
498  19      Sussex   2      Andover Twp     Andover   Twp
561  21      Warren  21  Washington Boro  Washington  Boro
562  21      Warren  22   Washington Twp  Washington   Twp

In [30]:
full_name_mask = city_full_mask | cnn_dupe_mask
names = df2.copy()
names['name'] = names.stem
names.loc[full_name_mask, 'name'] = names.loc[full_name_mask, 'mn']
names = names.drop(columns='mn')
names

     cc        cn  mc          stem  type             name
gin
0     1  Atlantic   1       Absecon  None          Absecon
1     1  Atlantic   2      Atlantic  City    Atlantic City
2     1  Atlantic   3    Brigantine  None       Brigantine
3     1  Atlantic   4         Buena  Boro            Buena
4     1  Atlantic   5   Buena Vista   Twp      Buena Vista
..   ..       ...  ..           ...   ...              ...
559  21    Warren  19  Phillipsburg  None     Phillipsburg
560  21    Warren  20     Pohatcong   Twp        Pohatcong
561  21    Warren  21    Washington  Boro  Washington Boro
562  21    Warren  22    Washington   Twp   Washington Twp
563  21    Warren  23         White   Twp            White

[564 rows x 6 columns]

In [31]:
names.to_parquet(COUNTY_CITY_CODES_PQT)

## Build cc2mc2mn dict, write as JSON

In [32]:
def county_obj(df):
    return dict(
        cn=singleton(df.cn.tolist(), dedupe=True),
        mc2mn=df.set_index('mc')['name'].to_dict(),
    )
    
cc2mc2mn = (
    names
    .groupby('cc')
    .apply(county_obj)
    .to_dict()
)
cc2mc2mn

/tmp/ipykernel_2317/386792007.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(county_obj)

{1: {'cn': 'Atlantic',
  'mc2mn': {1: 'Absecon',
   2: 'Atlantic City',
   3: 'Brigantine',
   4: 'Buena',
   5: 'Buena Vista',
   6: 'Corbin',
   7: 'Egg Harbor City',
   8: 'Egg Harbor Twp',
   9: 'Estell Manor',
   10: 'Folsom',
   11: 'Galloway',
   12: 'Hamilton',
   13: 'Hammonton',
   14: 'Linwood',
   15: 'Longport',
   16: 'Margate',
   17: 'Mullica',
   18: 'Northfield',
   19: 'Pleasantville',
   20: 'Port Republic',
   21: 'Somers Point',
   22: 'Ventnor',
   23: 'Weymouth'}},
 2: {'cn': 'Bergen',
  'mc2mn': {1: 'Allendale',
   2: 'Alpine',
   3: 'Bergenfield',
   4: 'Bogota',
   5: 'Carlstadt',
   6: 'Cliffside Park',
   7: 'Closter',
   8: 'Cresskill',
   9: 'Demarest',
   10: 'Dumont',
   11: 'Elmwood Park',
   12: 'East Rutherford',
   13: 'Edgewater',
   14: 'Emerson',
   15: 'Englewood',
   16: 'Englewood Cliffs',
   17: 'Fair Lawn',
   18: 'Fairview',
   19: 'Fort Lee',
   20: 'Franklin Lakes',
   21: 'Garfield',
   22: 'Glen Rock',
   23: 'Hackensack',
   24: 'Harrington Park',
   25: 'Hasbrouck Heights',
   26: 'Haworth',
   27: 'Hillsdale',
   28: 'Ho-Ho-Kus',
   29: 'Leonia',
   30: 'Little Ferry',
   31: 'Lodi',
   32: 'Lyndhurst',
   33: 'Mahwah',
   34: 'Maywood',
   35: 'Midland Park',
   36: 'Montvale',
   37: 'Moonachie',
   38: 'New Milford',
   39: 'North Arlington',
   40: 'Northvale',
   41: 'Norwood',
   42: 'Oakland',
   43: 'Old Tappan',
   44: 'Oradell',
   45: 'Palisades Park',
   46: 'Paramus',
   47: 'Park Ridge',
   48: 'Ramsey',
   49: 'Ridgefield',
   50: 'Ridgefield Park',
   51: 'Ridgewood',
   52: 'River Edge',
   53: 'River Vale',
   54: 'Rochelle Park',
   55: 'Rockleigh',
   56: 'Rutherford',
   57: 'Saddle Brook',
   58: 'Saddle River',
   59: 'South Hackensack',
   60: 'Teaneck',
   61: 'Tenafly',
   62: 'Teterboro',
   63: 'Upper Saddle River',
   64: 'Waldwick',
   65: 'Wallington',
   66: 'Washington',
   67: 'Westwood',
   68: 'Woodcliff Lake',
   69: 'Wood-Ridge',
   70: 'Wyckoff'}},
 3: {'cn': 'Burlington',
  'mc2mn': {1: 'Bass River',
   2: 'Beverly',
   3: 'Bordentown',
   4: 'Bordentown Twp',
   5: 'Burlington',
   6: 'Burlington Twp',
   7: 'Chesterfield',
   8: 'Cinnaminson',
   9: 'Delanco',
   10: 'Delran',
   11: 'Eastampton',
   12: 'Edgewater Park',
   13: 'Evesham',
   14: 'Fieldsboro',
   15: 'Florence',
   16: 'Hainesport',
   17: 'Lumberton',
   18: 'Mansfield',
   19: 'Maple Shade',
   20: 'Medford',
   21: 'Medford Lakes',
   22: 'Moorestown',
   23: 'Mount Holly',
   24: 'Mount Laurel',
   25: 'New Hanover',
   26: 'North Hanover',
   27: 'Palmyra',
   28: 'Pemberton Boro',
   29: 'Pemberton Twp',
   30: 'Riverside',
   31: 'Riverton',
   32: 'Shamong',
   33: 'Southampton',
   34: 'Springfield',
   35: 'Tabernacle',
   36: 'Washington',
   37: 'Westampton',
   38: 'Willingboro',
   39: 'Woodland',
   40: 'Wrightstown'}},
 4: {'cn': 'Camden',
  'mc2mn': {1: 'Audubon',
   2: 'Audubon Park',
   3: 'Barrington',
   4: 'Bellmawr',
   5: 'Berlin Boro',
   6: 'Berlin Twp',
   7: 'Brooklawn',
   8: 'Camden',
   9: 'Cherry Hill',
   10: 'Chesilhurst',
   11: 'Clementon',
   12: 'Collingswood',
   13: 'Gibbsboro',
   14: 'Gloucester City',
   15: 'Gloucester Twp',
   16: 'Haddon',
   17: 'Haddonfield',
   18: 'Haddon Heights',
   19: 'Hi-Nella',
   20: 'Laurel Springs',
   21: 'Lawnside',
   22: 'Lindenwold',
   23: 'Magnolia',
   24: 'Merchantville',
   25: 'Mount Ephraim',
   26: 'Oaklyn',
   27: 'Pennsauken',
   28: 'Pine Hill',
   30: 'Runnemede',
   31: 'Somerdale',
   32: 'Stratford',
   33: 'Tavistock',
   34: 'Voorhees',
   35: 'Waterford',
   36: 'Winslow',
   37: 'Woodlynne'}},
 5: {'cn': 'Cape May',
  'mc2mn': {1: 'Avalon',
   2: 'Cape May',
   3: 'Cape May Point',
   4: 'Dennis',
   5: 'Lower',
   6: 'Middle',
   7: 'North Wildwood',
   8: 'Ocean City',
   9: 'Sea Isle',
   10: 'Stone Harbor',
   11: 'Upper',
   12: 'West Cape May',
   13: 'West Wildwood',
   14: 'Wildwood',
   15: 'Wildwood Crest',
   16: 'Woodbine'}},
 6: {'cn': 'Cumberland',
  'mc2mn': {1: 'Bridgeton',
   2: 'Commercial',
   3: 'Deerfield',
   4: 'Downe',
   5: 'Fairfield',
   6: 'Greenwich',
   7: 'Hopewell',
   8: 'Lawrence',
   9: 'Maurice River',
   10: 'Millville',
   11: 'Shiloh',
   12: 'Stow Creek',
   13: 'Upper Deerfield',
   14: 'Vineland'}},
 7: {'cn': 'Essex',
  'mc2mn': {1: 'Belleville',
   2: 'Bloomfield',
   3: 'Caldwell',
   4: 'Cedar Grove',
   5: 'East Orange',
   6: 'Essex Fells',
   7: 'Fairfield',
   8: 'Glen Ridge',
   9: 'Irvington',
   10: 'Livingston',
   11: 'Maplewood',
   12: 'Millburn',
   13: 'Montclair',
   14: 'Newark',
   15: 'North Caldwell',
   16: 'Nutley',
   17: 'Orange',
   18: 'Roseland',
   19: 'South Orange',
   20: 'Verona',
   21: 'West Caldwell',
   22: 'West Orange'}},
 8: {'cn': 'Gloucester',
  'mc2mn': {1: 'Clayton',
   2: 'Deptford',
   3: 'East Greenwich',
   4: 'Elk',
   5: 'Franklin',
   6: 'Glassboro',
   7: 'Greenwich',
   8: 'Harrison',
   9: 'Logan',
   10: 'Mantua',
   11: 'Monroe',
   12: 'National Park',
   13: 'Newfield',
   14: 'Paulsboro',
   15: 'Pitman',
   16: 'South Harrison',
   17: 'Swedesboro',
   18: 'Washington',
   19: 'Wenonah',
   20: 'West Deptford',
   21: 'Westville',
   22: 'Woodbury',
   23: 'Woodbury Heights',
   24: 'Woolwich'}},
 9: {'cn': 'Hudson',
  'mc2mn': {1: 'Bayonne',
   2: 'East Newark',
   3: 'Guttenberg',
   4: 'Harrison',
   5: 'Hoboken',
   6: 'Jersey City',
   7: 'Kearny',
   8: 'North Bergen',
   9: 'Secaucus',
   10: 'Union City',
   11: 'Weehawken',
   12: 'West New York'}},
 10: {'cn': 'Hunterdon',
  'mc2mn': {1: 'Alexandria',
   2: 'Bethlehem',
   3: 'Bloomsbury',
   4: 'Califon',
   5: 'Clinton',
   6: 'Clinton Twp',
   7: 'Delaware',
   8: 'East Amwell',
   9: 'Flemington',
   10: 'Franklin',
   11: 'Frenchtown',
   12: 'Glen Gardner',
   13: 'Hampton',
   14: 'High Bridge',
   15: 'Holland',
   16: 'Kingwood',
   17: 'Lambertville',
   18: 'Lebanon Boro',
   19: 'Lebanon Twp',
   20: 'Milford',
   21: 'Raritan',
   22: 'Readington',
   23: 'Stockton',
   24: 'Tewksbury',
   25: 'Union',
   26: 'West Amwell'}},
 11: {'cn': 'Mercer',
  'mc2mn': {1: 'East Windsor',
   2: 'Ewing',
   3: 'Hamilton',
   4: 'Hightstown',
   5: 'Hopewell Boro',
   6: 'Hopewell Twp',
   7: 'Lawrence',
   8: 'Pennington',
   11: 'Trenton',
   12: 'Robbinsville',
   13: 'West Windsor',
   14: 'Princeton'}},
 12: {'cn': 'Middlesex',
  'mc2mn': {1: 'Carteret',
   2: 'Cranbury',
   3: 'Dunellen',
   4: 'East Brunswick',
   5: 'Edison',
   6: 'Helmetta',
   7: 'Highland Park',
   8: 'Jamesburg',
   9: 'Metuchen',
   10: 'Middlesex',
   11: 'Milltown',
   12: 'Monroe',
   13: 'New Brunswick',
   14: 'North Brunswick',
   15: 'Old Bridge',
   16: 'Perth Amboy',
   17: 'Piscataway',
   18: 'Plainsboro',
   19: 'Sayreville',
   20: 'South Amboy',
   21: 'South Brunswick',
   22: 'South Plainfield',
   23: 'South River',
   24: 'Spotswood',
   25: 'Woodbridge'}},
 13: {'cn': 'Monmouth',
  'mc2mn': {1: 'Aberdeen',
   2: 'Allenhurst',
   3: 'Allentown',
   4: 'Asbury Park',
   5: 'Atlantic Highlands',
   6: 'Avon-by-the-Sea',
   7: 'Belmar',
   8: 'Bradley Beach',
   9: 'Brielle',
   10: 'Colts Neck',
   11: 'Deal',
   12: 'Eatontown',
   13: 'Englishtown',
   14: 'Fair Haven',
   15: 'Farmingdale',
   16: 'Freehold Boro',
   17: 'Freehold Twp',
   18: 'Hazlet',
   19: 'Highlands',
   20: 'Holmdel',
   21: 'Howell',
   22: 'Interlaken',
   23: 'Keansburg',
   24: 'Keyport',
   25: 'Little Silver',
   26: 'Loch Arbour',
   27: 'Long Branch',
   28: 'Manalapan',
   29: 'Manasquan',
   30: 'Marlboro',
   31: 'Matawan',
   32: 'Middletown',
   33: 'Millstone',
   34: 'Monmouth Beach',
   35: 'Neptune',
   36: 'Neptune City',
   37: 'Ocean',
   38: 'Oceanport',
   39: 'Red Bank',
   40: 'Roosevelt',
   41: 'Rumson',
   42: 'Sea Bright',
   43: 'Sea Girt',
   44: 'Shrewsbury Boro',
   45: 'Shrewsbury Twp',
   46: 'Lake Como',
   47: 'Spring Lake',
   48: 'Spring Lake Heights',
   49: 'Tinton Falls',
   50: 'Union Beach',
   51: 'Upper Freehold',
   52: 'Wall',
   53: 'West Long Branch'}},
 14: {'cn': 'Morris',
  'mc2mn': {1: 'Boonton Town',
   2: 'Boonton Twp',
   3: 'Butler',
   4: 'Chatham Boro',
   5: 'Chatham Twp',
   6: 'Chester Boro',
   7: 'Chester Twp',
   8: 'Denville',
   9: 'Dover',
   10: 'East Hanover',
   11: 'Florham Park',
   12: 'Hanover',
   13: 'Harding',
   14: 'Jefferson',
   15: 'Kinnelon',
   16: 'Lincoln Park',
   17: 'Madison',
   18: 'Mendham Boro',
   19: 'Mendham Twp',
   20: 'Mine Hill',
   21: 'Montville',
   22: 'Morris',
   23: 'Morris Plains',
   24: 'Morristown',
   25: 'Mountain Lakes',
   26: 'Mount Arlington',
   27: 'Mount Olive',
   28: 'Netcong',
   29: 'Parsippany-Troy Hills',
   30: 'Long Hill',
   31: 'Pequannock',
   32: 'Randolph',
   33: 'Riverdale',
   34: 'Rockaway Boro',
   35: 'Rockaway Twp',
   36: 'Roxbury',
   37: 'Victory Gardens',
   38: 'Washington',
   39: 'Wharton'}},
 15: {'cn': 'Ocean',
  'mc2mn': {1: 'Barnegat',
   2: 'Barnegat Light',
   3: 'Bay Head',
   4: 'Beach Haven',
   5: 'Beachwood',
   6: 'Berkeley',
   7: 'Brick',
   8: 'Toms River',
   9: 'Eagleswood',
   10: 'Harvey Cedars',
   11: 'Island Heights',
   12: 'Jackson',
   13: 'Lacey',
   14: 'Lakehurst',
   15: 'Lakewood',
   16: 'Lavallette',
   17: 'Little Egg Harbor',
   18: 'Long Beach',
   19: 'Manchester',
   20: 'Mantoloking',
   21: 'Ocean',
   22: 'Ocean Gate',
   23: 'Pine Beach',
   24: 'Plumsted',
   25: 'Point Pleasant',
   26: 'Point Pleasant Beach',
   27: 'Seaside Heights',
   28: 'Seaside Park',
   29: 'Ship Bottom',
   30: 'South Toms River',
   31: 'Stafford',
   32: 'Surf City',
   33: 'Tuckerton'}},
 16: {'cn': 'Passaic',
  'mc2mn': {1: 'Bloomingdale',
   2: 'Clifton',
   3: 'Haledon',
   4: 'Hawthorne',
   5: 'Little Falls',
   6: 'North Haledon',
   7: 'Passaic',
   8: 'Paterson',
   9: 'Pompton Lakes',
   10: 'Prospect Park',
   11: 'Ringwood',
   12: 'Totowa',
   13: 'Wanaque',
   14: 'Wayne',
   15: 'West Milford',
   16: 'Woodland Park'}},
 17: {'cn': 'Salem',
  'mc2mn': {1: 'Alloway',
   2: 'Carneys Point',
   3: 'Elmer',
   4: 'Elsinboro',
   5: 'Lower Alloways Creek',
   6: 'Mannington',
   7: 'Oldmans',
   8: 'Penns Grove',
   9: 'Pennsville',
   10: 'Pilesgrove',
   11: 'Pittsgrove',
   12: 'Quinton',
   13: 'Salem',
   14: 'Upper Pittsgrove',
   15: 'Woodstown'}},
 18: {'cn': 'Somerset',
  'mc2mn': {1: 'Bedminster',
   2: 'Bernards',
   3: 'Bernardsville',
   4: 'Bound Brook',
   5: 'Branchburg',
   6: 'Bridgewater',
   7: 'Far Hills',
   8: 'Franklin',
   9: 'Green Brook',
   10: 'Hillsborough',
   11: 'Manville',
   12: 'Millstone',
   13: 'Montgomery',
   14: 'North Plainfield',
   15: 'Peapack-Gladstone',
   16: 'Raritan',
   17: 'Rocky Hill',
   18: 'Somerville',
   19: 'South Bound Brook',
   20: 'Warren',
   21: 'Watchung'}},
 19: {'cn': 'Sussex',
  'mc2mn': {1: 'Andover Boro',
   2: 'Andover Twp',
   3: 'Branchville',
   4: 'Byram',
   5: 'Frankford',
   6: 'Franklin',
   7: 'Fredon',
   8: 'Green',
   9: 'Hamburg',
   10: 'Hampton',
   11: 'Hardyston',
   12: 'Hopatcong',
   13: 'Lafayette',
   14: 'Montague',
   15: 'Newton',
   16: 'Ogdensburg',
   17: 'Sandyston',
   18: 'Sparta',
   19: 'Stanhope',
   20: 'Stillwater',
   21: 'Sussex',
   22: 'Vernon',
   23: 'Walpack',
   24: 'Wantage'}},
 20: {'cn': 'Union',
  'mc2mn': {1: 'Berkeley Heights',
   2: 'Clark',
   3: 'Cranford',
   4: 'Elizabeth',
   5: 'Fanwood',
   6: 'Garwood',
   7: 'Hillside',
   8: 'Kenilworth',
   9: 'Linden',
   10: 'Mountainside',
   11: 'New Providence',
   12: 'Plainfield',
   13: 'Rahway',
   14: 'Roselle',
   15: 'Roselle Park',
   16: 'Scotch Plains',
   17: 'Springfield',
   18: 'Summit',
   19: 'Union',
   20: 'Westfield',
   21: 'Winfield'}},
 21: {'cn': 'Warren',
  'mc2mn': {1: 'Allamuchy',
   2: 'Alpha',
   3: 'Belvidere',
   4: 'Blairstown',
   5: 'Franklin',
   6: 'Frelinghuysen',
   7: 'Greenwich',
   8: 'Hackettstown',
   9: 'Hardwick',
   10: 'Harmony',
   11: 'Hope',
   12: 'Independence',
   13: 'Knowlton',
   14: 'Liberty',
   15: 'Lopatcong',
   16: 'Mansfield',
   17: 'Oxford',
   19: 'Phillipsburg',
   20: 'Pohatcong',
   21: 'Washington Boro',
   22: 'Washington Twp',
   23: 'White'}}}

In [33]:
with open(CC2MC2MN, 'w') as f:
    json.dump(cc2mc2mn, f, indent=2)