In [1]:
from utz import *
from njdot import crashes, drivers, occupants, pedestrians, vehicles
from njdot.load import pk_base, INDEX_NAME, normalize, print_hists

In [2]:
%%time
c = crashes.load(write_pqt=True)
c

Loading /Users/ryan/c/neighbor-ryan/nj-crashes/tlgdb_2022_a_34_nj.gdb/
Computing
crashes: merging olat/olon with county geometries
/Users/ryan/c/neighbor-ryan/nj-crashes/njdot/crashes.py:114: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4269

  joined = sjoin(gdf.df[['olat', 'olon', 'geometry']], cg)
/Users/ryan/c/neighbor-ryan/nj-crashes/njdot/crashes.py:122: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4269

  ij = sjoin(igdf.df[['geometry']], cg)

CPU times: user 7min 26s, sys: 37.5 s, total: 8min 4s
Wall time: 8min 29s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet (6077303 rows, 346.8 MB)

,dt,year,cc,mc,case,pdc,pdn,station,tk,ti,pk,pi,severity,Intersection,alcohol,hazmat,crash_type,tv,road,road_direction,route,Route Suffix,sri,mp,road_system,road_character,road_surface,surface_condition,light_condition,env_condition,road_divided,ttcz,cross_street_distance,Unit Of Measurement,Direction From Cross Street,cross_street,Is Ramp,ramp_route,Ramp To/From Route Direction,speed_limit,speed_limit_cross,olat,olon,cell_phone,Other Property Damage,Reporting Badge No.,horizontal_alignment,road_grade,first_harmful_event,geometry,occ,reason,ilon,ilat,icc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,2001-12-21 18:34:00,2001,1,1,#2001-17846,01,Absecon City,MUNICIPAL COMP?,0,0,0,0,p,B,False,False,3,2,CALDERON AVENUE,,<NA>,,,NaN,7,2,2,1,6,1,5,1,100,FE,N,RT 30,,,,25,<NA>,NaN,NaN,False,NEVER SAW V-1 MINOR DAMAGE - NO INJURIES REPOR...,830,<NA>,<NA>,<NA>,POINT EMPTY,<NA>,No MP,NaN,NaN,<NA>
1,2001-01-01 09:30:00,2001,1,1,01-00029,1,Absecon,,0,0,0,0,p,B,False,False,6,2,RITZ DRIVE,,<NA>,,,NaN,7,1,2,3,6,1,5,1,<NA>,,,,,,,25,<NA>,NaN,NaN,False,,836,<NA>,<NA>,<NA>,POINT EMPTY,<NA>,No MP,NaN,NaN,<NA>
2,2001-04-10 14:44:00,2001,1,1,01-004615,1,Absecon,,0,4,0,0,i,I,False,False,3,2,MORTON AVENUE,,<NA>,,,NaN,7,1,2,1,1,1,5,1,<NA>,AT,,NEW YORK AVENUE,,,,25,<NA>,NaN,NaN,False,,836,<NA>,<NA>,<NA>,POINT EMPTY,<NA>,No MP,NaN,NaN,<NA>
3,2001-04-15 13:56:00,2001,1,1,01-004880,1,Absecon,,0,1,0,0,i,B,False,False,1,2,RT 30,,30,,00000030__,51.099998,2,1,2,1,1,1,5,1,<NA>,,,,,,,45,<NA>,NaN,NaN,False,WITNESS-PETRIA GIBSON AND ANGELO HERSH,886,<NA>,<NA>,<NA>,POINT (-74.51231 39.43271),<NA>,NaN,-74.512308,39.432705,1
4,2001-04-16 10:29:00,2001,1,1,01-004912,1,Absecon,,0,0,0,0,p,I,False,False,1,2,CR 651,,651,,,NaN,5,2,2,2,1,2,5,1,<NA>,AT,,CR 630,,,,35,<NA>,NaN,NaN,False,*BETH VEHICLES-RELIANCE INSURANCE CO.(215)864-...,836,<NA>,<NA>,<NA>,POINT EMPTY,<NA>,No MP,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6077298,2021-05-26 21:08:00,2021,21,23,B150-2021-00117A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,I,False,False,11,1,WARREN COUNTY 620,N,620,,21000620__,0.000000,5,<NA>,2,1,6,1,5,1,<NA>,AT,,ROUTE 519 / S BRIDGEVILLE RD,,,,50,50,40.80707,-75.07559,False,Damage to 10ft of Country road guardrail.,7837,2,4,46,POINT (-75.07561 40.80716),21,NaN,-75.075607,40.807156,21
6077299,2021-05-25 07:26:00,2021,21,23,B150-2021-00118A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,I,False,False,1,2,MANUNKA CHUNK RD / UPPER SEREPTA RD **,W,<NA>,,21231034__,1.730000,7,<NA>,2,1,1,1,5,1,<NA>,AT,,MASSENATTS RD,,,,40,50,40.84466,-75.05549,False,,8610,1,4,26,POINT (-75.05612 40.84434),21,NaN,-75.056122,40.844345,21
6077300,2021-06-03 20:17:00,2021,21,23,B150-2021-00128A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,12,1,ROUTE 519,S,519,,00000519__,44.000000,5,<NA>,2,2,5,4,5,1,<NA>,,,,,,,50,<NA>,40.80564,-75.07627,False,,8514,3,4,24,POINT (-75.01515 40.86311),21,NaN,-75.015149,40.863108,21
6077301,2021-06-06 00:00:00,2021,21,23,B150-2021-00130A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,12,1,US 46,E,46,,00000046__,7.500000,2,<NA>,2,1,7,1,5,1,<NA>,,,,,,,50,<NA>,40.84149,-75.04968,False,,8365,1,4,24,POINT (-75.04640 40.84042),21,NaN,-75.046404,40.840421,21
6077302,2021-06-06 19:33:00,2021,21,23,B150-2021-00132A,02,New Jersey State Police,WASHINGTON - SQ,0,0,0,0,p,B,False,False,3,2,FIELDSTONE CT,W,<NA>,,,NaN,7,<NA>,5,1,1,1,5,1,<NA>,,,130 COUNTY ROAD 519,,,,15,5,40.81220,-75.04940,False,,8395,1,4,26,POINT EMPTY,21,No MP,NaN,NaN,<NA>

In [6]:
assert (c[pk_base].sort_values(pk_base) == c[pk_base]).all().all()

In [2]:
%%time
d = drivers.load(write_pqt=True)
d

Computing
Merging drivers with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 1min 13s, sys: 10.2 s, total: 1min 24s
Wall time: 1min 25s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/drivers.parquet (11450826 rows, 206.5 MB)

,crash_id,vn,city,state,zip,license_state,dob,sex,alc_test_given,alc_test_type,alc_test_results,charge1,summons1,status1,charge2,summons2,charge3,summons3,charge4,summons4,status2
id,,,,,,,,,,,,,,,,,,,,,
0,0,1,GALLOWAY TWSP.,NJ,08205,NJ,02/06/1963,M,N,,,,,1,,,,,,,<NA>
1,0,2,ATLANTIC CITY,NJ,08401,NJ,06/30/1938,F,N,,,39:4-144 #A046899,,1,,,,,,,<NA>
2,1,1,,,,,,,,,,,,<NA>,,,,,,,<NA>
3,1,2,,,,,,,N,,,,,0,,,,,,,<NA>
4,2,1,ABSECON,NJ,08201,NJ,07/03/1971,F,N,,,39:3-76.2E (2) A046071 2,,1,,,,,,,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450821,6077299,2,BELVIDERE,NJ,07823,NJ,,F,N,,,,,<NA>,,,,,,,<NA>
11450822,6077300,1,LANDING,NJ,07850,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450823,6077301,1,BELVIDERE,NJ,07823,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450824,6077302,1,PHILLIPSBURG,NJ,08865,NJ,,M,N,,,,,<NA>,,,,,,,<NA>
11450825,6077302,2,BELVIDERE,NJ,07823,NJ,,F,N,,,,,<NA>,,,,,,,<NA>

In [4]:
%%time
p = pedestrians.load(write_pqt=True)
p

Computing
Merging pedestrians with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 10.4 s, sys: 1.09 s, total: 11.5 s
Wall time: 11.6 s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/pedestrians.parquet (178521 rows, 4.6 MB)

,crash_id,pn,condition,city,state,zip,dob,age,sex,alc_test_given,alc_test_type,alc_test_results,charge1,summons1,traffic_controls,cir1,cir2,dir,act,inj_loc,inj_type,med_refused,safety_used,hospital,status1,cyclist,other,charge2,summons2,charge3,summons3,charge4,summons4,status2
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,7,1,3,ABSECON,NJ,08201,07/28/1990,10,M,,,,,,<NA>,<NA>,<NA>,<NA>,41,1,5,<NA>,<NA>,,1,False,False,,,,,,,<NA>
1,48,31,3,ABSECON,NJ,08201,01/16/1967,34,M,,,,,,<NA>,<NA>,<NA>,<NA>,<NA>,1,4,<NA>,<NA>,,<NA>,True,False,,,,,,,<NA>
2,76,1,2,EGG HARBOR TWP.,NJ,08234,11/16/1952,48,F,N,,,,,<NA>,<NA>,<NA>,<NA>,46,12,3,<NA>,<NA>,,1,False,False,,,,,,,<NA>
3,114,1,4,GALLOWAY TWP.,NJ,08205,03/31/1959,42,F,N,,,SUBPOENA,,<NA>,<NA>,<NA>,<NA>,49,7,<NA>,<NA>,<NA>,,1,False,False,,,,,,,<NA>
4,236,1,4,ABSECON,NJ,08201,04/18/1953,48,M,N,,,,,<NA>,<NA>,<NA>,<NA>,43,1,4,<NA>,<NA>,,1,False,False,,,,,,,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178516,6076961,1,4,WASHINGTON,NJ,07882,,74,F,N,,,,,5,25,<NA>,3,43,6,8,2,1,7102,1,False,False,,,,,,,<NA>
178517,6076969,31,3,WASHINGTON,NJ,07882,,17,M,N,,,,,4,25,<NA>,2,3,11,5,1,8,,1,True,False,,,,,,,<NA>
178518,6076973,1,1,PORT MURRAY,NJ,07865,,59,M,N,,,,,4,73,89,0,36,12,3,<NA>,<NA>,7102,2,False,False,,,,,,,<NA>
178519,6077021,1,2,WASHINGTON,NJ,07882,,65,M,N,,,,,11,89,<NA>,3,42,12,3,2,<NA>,99,1,False,False,,,,,,,<NA>
178520,6077192,1,3,ROSELLE PARK,NJ,07204,,24,M,,,,,,<NA>,<NA>,<NA>,<NA>,<NA>,7,5,0,<NA>,7102,<NA>,False,False,,,,,,,<NA>

In [5]:
%%time
v = vehicles.load(write_pqt=True)
v

Computing
Merging vehicles with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet

CPU times: user 1min 53s, sys: 11 s, total: 2min 4s
Wall time: 2min 7s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/vehicles.parquet (11450826 rows, 245.1 MB)

,crash_id,vn,ins_co,owner_state,make,model,color,vy,state,towed,rm_by,imp_loc,dmg_loc,type,body,cir1,cir2,dir,act,ev1,ev2,ev3,ev4,oversize,hit_run,dep,dmg,ev
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,0,1,426,NJ,NISSAN MAXIMA,,BUR,1991,NJ,D,<NA>,8,7,1,<NA>,25,<NA>,1,3,26,<NA>,<NA>,<NA>,<NA>,False,NaN,<NA>,<NA>
1,0,2,989,NJ,LINCOLN TOWNCAR,,BK,1996,NJ,D,2,12,12,6,0,4,<NA>,2,3,26,<NA>,<NA>,<NA>,0,False,NaN,<NA>,<NA>
2,1,1,962,NJ,TOYOTA 4DR,,GRN,1997,NJ,D,1,11,<NA>,1,<NA>,25,<NA>,3,10,28,<NA>,<NA>,<NA>,<NA>,False,NaN,<NA>,<NA>
3,1,2,<NA>,,,,,0,,,<NA>,0,0,5,0,2,<NA>,1,1,26,<NA>,<NA>,<NA>,0,False,NaN,<NA>,<NA>
4,2,1,85,NJ,CHEVY CORSICA,,PUR,1996,NJ,T,3,8,15,1,<NA>,25,<NA>,3,1,26,1,<NA>,<NA>,<NA>,False,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450821,6077299,2,962,NJ,HYUNDAI,SONATA,BK,2012,NJ,,2,6,6,1,<NA>,25,<NA>,4,3,26,<NA>,<NA>,<NA>,<NA>,False,1,3,26
11450822,6077300,1,134,NJ,SUBARU,FORRESTER,SL,2015,NJ,,1,11,11,4,<NA>,57,<NA>,3,1,24,<NA>,<NA>,<NA>,2,False,1,3,24
11450823,6077301,1,148,NJ,TOYOTA,COROLLA,BK,2009,NJ,,1,11,11,1,<NA>,57,<NA>,2,1,24,<NA>,<NA>,<NA>,<NA>,False,1,3,24
11450824,6077302,1,134,NJ,HYUNDAI,SONATA,BL,2013,NJ,,1,1,1,1,<NA>,4,<NA>,4,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26
11450825,6077302,2,962,NJ,JEEP,GRAND CHEROKEE,BL,2017,NJ,,2,11,11,1,<NA>,25,<NA>,3,1,26,<NA>,<NA>,<NA>,<NA>,False,1,2,26

In [6]:
%%time
o = occupants.load(write_pqt=True)
o

Computing
Merging occupants with crashes
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/crashes.parquet
Crash 12410270: fixing bad vehicle num, 25 â†’ 2
Merging occupants with vehicles
Reading /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/vehicles.parquet

CPU times: user 1min 26s, sys: 8.82 s, total: 1min 35s
Wall time: 1min 36s

Wrote /Users/ryan/c/neighbor-ryan/nj-crashes/njdot/data/occupants.parquet (13756726 rows, 215.7 MB)

,crash_id,vehicle_id,on,condition,pos,eject,age,sex,inj_loc,inj_type,med_refused,safety_avail,safety_used,airbag,hospital
id,,,,,,,,,,,,,,,
0,0,0,1,<NA>,1,1,38,M,<NA>,<NA>,,4,4,<NA>,
1,0,1,2,<NA>,1,1,63,F,<NA>,<NA>,,4,4,<NA>,
2,1,2,1,<NA>,<NA>,<NA>,<NA>,,<NA>,<NA>,,<NA>,<NA>,<NA>,
3,2,4,1,3,1,1,29,F,6,8,,4,4,<NA>,
4,2,4,2,3,3,1,7,M,8,5,,4,4,<NA>,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13756721,6077301,11450823,1,5,1,1,74,M,<NA>,<NA>,01,11,4,<NA>,
13756722,6077302,11450824,1,5,1,1,23,M,<NA>,<NA>,,11,4,<NA>,
13756723,6077302,11450824,2,5,3,1,23,F,<NA>,<NA>,,11,4,<NA>,
13756724,6077302,11450824,3,5,6,1,25,M,<NA>,<NA>,,11,4,<NA>,
13756725,6077302,11450825,4,5,1,1,17,F,<NA>,<NA>,,11,4,<NA>,